<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>EmpCode</th>
        <th>Position</th>
        <th>Mobile</th>
    </tr>
    <tr *ngFor="let employee of service.employeeList">
        <td (click)="popForm(employee)">{{employee.FullName}}</td>
        <td (click)="popForm(employee)">{{employee.EMPCode}}</td>
        <td (click)="popForm(employee)">{{employee.Position}}</td>
        <td (click)="popForm(employee)">{{employee.Mobile}}</td>
        <td><button class="btn btn-sm btn-outline-danger" (click)="onDelete(employee.EmployeeID)">X</button></td>
    </tr>



</table>
